@if (habitacion().tipoHabitacion.id) {
  <a
    class="font-medium text-[var(--azul)] hover:underline"
    [routerLink]="['/habitaciones', habitacion().tipoHabitacion.id]"
    target="_blank"
  >
    Ver
  </a>
}
<a
  class="ml-4 font-medium text-[var(--azul)] hover:underline"
  [routerLink]="['/admin/habitaciones/editar', habitacion().id]"
>
  Editar
</a>
<button
  class="ml-4 font-medium text-[var(--azul)] hover:underline"
  type="button"
  (click)="cambioEstadoSolicitado.emit(habitacion())"
>
  {{ habitacion().estado === 'DISPONIBLE' ? 'Deshabilitar' : 'Habilitar' }}
</button>
<button
  class="ml-4 font-medium text-red-600 hover:underline"
  type="button"
  (click)="eliminacionSolicitada.emit(habitacion())"
>
  Eliminar
</button>
